{% extends "base.html" %}
{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center">
    <div class="card">
      <div class="card-body" style="display: flex; flex-direction: column; justify-content: center">

          <div class="card-title">LOG IN</div>

          <div style="margin-top: 15px">

        <form action="." method="post">
{#            {{ form.as_p }}#}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Usefname" aria-describedby="basic-addon1">
            </div>
                        <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="password"  name="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
            </div>

            {% csrf_token %}
            <div style="margin-top: 15px"><input type="submit" value="LOG IN" class="btn btn-primary btn-lg btn-block btn-success"></div>
        </form>
          </div>
      </div>
</div>
    </div>


{% endblock %}
