{% extends "base.html" %}
{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center">
    <div class="card">
      <div class="card-body" style="display: flex; flex-direction: column; justify-content: center">

          <div class="card-title">You are logged in as</div>

          <div style="margin-top: 15px; font-weight: bold; font-size: large">
              <span>{{ data.first_name }}</span>
              <span>{{ data.last_name }}</span>
          </div>
          <div>
              <a href="singup.html">Back</a>
          </div>
      </div>
</div>
    </div>


{% endblock %}
