{% extends "base.html" %}
{% load crispy_forms_filters %}
{#{% load crispy_forms_filters %}#}
{% load crispy_forms_tags %}
{% block content %}
    <script>
        window.onload = function() {
        var src = document.getElementById("email"),
            dst = document.getElementById("username");
        src.addEventListener('input', function() {
            dst.value = src.value;
        });
    };
    </script>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div style="display: flex; flex-direction: column; align-items: center">
    <div class="card">
      <div class="card-body" style="display: flex; flex-direction: column; justify-content: center">

          <div class="card-title">SING UP WITH</div>


        <div class="card-text">
            <div style="display: flex; flex-direction: row; justify-content: space-around">
                <div>
                    <img style="color: #4099ff" src="https://img.icons8.com/material-sharp/16/000000/facebook-f.png"/>
                    <a href="{% url 'social:begin' 'facebook' %}">FACEBOOK</a>
                </div>
                <div>/</div>
                <div>
                    <img  src="https://img.icons8.com/color/16/000000/google-logo.png">
                    <a href="{% url "social:begin" "google-oauth2" %}">GOOGLE</a>
                </div>
            </div>
        </div>
          <div style="flex-direction: row;
                        justify-content: center;
                        display: flex;
                        margin-top: 15px;">
              <span>OR</span>
          </div>
          <div style="margin-top: 15px">

        <form action="." method="post">
            {{ form|crispy }}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                I'd like to receive PlacePass news and offers
              </label>
           </div>
            <div>
                <small>By sing up, I agree to the PlacePass
                    <a href="#">Term of Service</a>
                    and
                    <a href="#">Privacy Police</a>
                </small>
            </div>
            {% csrf_token %}
            <div style="margin-top: 15px"><input type="submit" value="REGINSTER" id="sButton" class="btn btn-primary btn-lg btn-block btn-success"></div>
        </form>
              {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
          </div>
          <div style="margin-top: 15px">
              <div style="display: flex">
                  <span>Already have of account?</span>
                  <span style="flex: 1 0 auto"></span>
                  <button type="button" class="btn btn-outline-primary"
                  onclick="location.href='{% url 'login' %}'"
                  >LOG IN</button>
              </div>
          </div>

      </div>
</div>
    </div>


{% endblock %}
