{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}
    {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
{% block style %}
    <style>
    body {
  background-image: url( "{% static 'img/back2.jpg' %}");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
</style>
{% endblock %}
<div id="header">
    <div id="content">
    {% block content %}
    {% endblock %}
</div>
</div>

</body>
</html>
